<header>
  <div class="main">
<div id="top-nav">
  <div class="section" id="myHeader">
    <div class="flipkart_name">
      <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >
      <!-- <div class="explore_name">
         <p id="plus_name"> Explore Plus</p>
      </div> -->
        <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
    </div>
    <!-- Search Bar -->
    <div class="search-container">
     <form class="src_box">
      <input type="text" placeholder="Search for products, brands and more" width="600px" name="search">
     </form>
     <!-- <i id="search_logo" class="fas fa-search"></i> -->
    </div>
    <!-- Menus -->
    <div class="menuItemsii">
      <a routerLink="/login" id="login">Login & Sign Up</a>
      <a id="more" href="url">More</a>
      <i class="fas fa-angle-down"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
      <a id="cart" href="url">Cart</a>
    </div>

  </div>
</div>
</div>
</header>


<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/action_page.php">

        <div class="row">
          <div class="col-50">
            <h3>Delivery Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Enter your firstname">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="Enter your email address">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Street name here">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="Enter your city">

            <div class="row2">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="Enter your email address here">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="Zip code">
              </div>
            </div>
          </div>
        </div>

        <a routerLink="/orderplaced"><input id="btncont" type="submit" value="Place order" class="btn"></a>

      </form>
    </div>
  </div>
</div>
