<div class="main">
  <header>
  <div id="top-nav">
   <div class="section" id="myHeader">
    <div class="flipkart_name">
      <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >

        <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
    </div>
    <!-- Search Bar -->
    <div class="search-container">
     <form class="src_box">
      <input type="text" placeholder="Search for products, brands and more" width="600px" name="search">
     </form>

    </div>
    <!-- Menus -->
    <div class="menuItemsii">
      <a routerLink="/login" id="login">Login & Sign Up</a>
      <a id="more" href="url">More</a>
      <i class="fas fa-angle-down"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
      <a id="cart" href="url">Cart</a>
    </div>

  </div>

 </div> <!-- Top Navigation Bar -->
</header>

</div><!-- Main Division -->

<div class="Model1_div">
<tr>
<td rowspan="1" style="border: 1px solid #ccc;">

<div id="pic1"><img src ="\assets\images\Vivo.jpeg" alt="Vivo"></div>

<span><a routerLink="/orderdetails"><button class="buy-button1">Buy Now</button></a></span>
<br><br>
</td>

<td rowspan="2" style="border: 1px solid #ccc;">

    <h1>Vivo Z1Pro (Sonic Black, 64 GB)</h1>
    <ul id="desc" >
        <li>4 GB RAM | 64 GB ROM | Expandable Upto 256 GB</li>
        <li>16.59 cm (6.53 inch) FHD+ Display</li>
        <li>16MP + 8MP + 2MP | 32MP Front Camera</li>
        <li>5000 mAh Battery</li>
        <li>Qualcomm Snapdragon 712 AIE Octa Core 2.3GHz Processor</li>
        <li>Triple Card Slot</li>
        <li>Fast Charging</li>
        <li>Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories</li>
        <li>Up to &#8377; 13,500 Exchange offer</li>
        <li>Special price</li>
    </ul>

</td>

  <td rowspan="3" style="border: 1px solid #ccc;padding-left:40px;">
         <h1 style="margin-top:0px;">&#8377; 14,990</h1>
         <p id="emi1">No Cost EMI</p>
  </td>
</tr>
</div>
<!-- Line after one model -->
<hr>
<hr>

<div class="Model2_div">
<tr>
  <td rowspan="1" style="border: 1px solid #ccc;">

  <div id="pic2">  <img src ="\assets\images\realme.jpeg" alt="NikonCamera"></div>

  <span><a routerLink="/orderdetails"><button class="buy-button2">Buy Now</button></a></span>
  </td>

<td rowspan="2" style="border: 1px solid #ccc;">

    <h1>Realme 3 Pro (Lightning Purple, 64 GB)</h1>
    <ul id="desc">
      <li>4 GB RAM | 64 GB ROM | Expandable Upto 256 GB</li>
      <li>16.0 cm (6.3 inch) FHD+ Display</li>
      <li>16MP + 5MP | 25MP Front Camera</li>
      <li>4045 mAh Battery</li>
      <li>Qualcomm Snapdragon 710 Octa Core 2.2 GHz AIE Processor</li>
      <li>VooC Flash Charge 3.0</li>
      <li>Dual Nano SIM Slot and Memory Card Slot</li>
      <li>Brand Warranty of 1 Year Available for Mobile and 6 Months for Accessories</li>
      <li>Up to ₹12,000 Off on Exchange</li>
      <li>Special Price</li>
    </ul>
    <br> <br> <br> <br> <br> <br>
        </td>
    <td rowspan="3" style="border: 1px solid #ccc;">
       <h1 style="margin-top:0">&#8377; 12,999</h1>
       <p id="emi1">EMI starting <br>from &#8377; 612/month</p>
    </td>
  </tr>
</div>
