<header>
  <div id="top-nav">
  <div class="main">
    <div class="section" id="myHeader">
      <div class="flipkart_name">
        <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >

          <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
      </div>
    </div>

  </div>
  </div>
</header>

<div class="login-content">
<form id="form" method="GET">
     <div class="row">
           <div class="column1" style="background-color:#047BD5;">
             <h2 >Login</h2>
               <div id="fontstyle">
                 <p> Get access  to your Orders,<br>Wishlist and Recommendations</p>
               </div>
               <img src="/assets/gif/product.gif"alt="shopping-items" width="80%" height="250px"  filter="alpha(opacity=0.2)">
           </div>

           <div class="column">
               <input class="input-item" placeholder="Enter email/mobile number"  type="text" name="Enter Email/mobile number" required> <br>
               <input class="input-item" placeholder=" Enter password" maxlength="8"  type="text" name="Enter password" required>
               <input class="submit" type="submit" value="Login">

               <a routerLink="/signup" id="signup">
               <div class="newTo"> New to Flipkart? Create an account</div>
               </a>
           </div>
     </div>
   </form>

  </div>
