body{
  background-color: lightblue;
}
.login-content{
padding-top:180px;
  padding-bottom:150px;
}

/* Style the header */
header {
    margin: 0px;
    width: 100%;
    height: auto;
    position:fixed;

    z-index: 1;
}
#top-nav {
    width: 100%;
    height: 8%;
    padding-bottom: 10px;
    /* overflow: hidden; */
    position: fixed;


}
.homeimg{
  padding-top:125px;
}

.section{
  background:#2874EE;
  color: #f1f1f1;
  width: 100%;
  height: 60px;

}
.flipkart_name {
  width: 80px;
  margin-left: 180px;
  padding-top: 10px;
  float: left;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.search-container {
  float: left;
  height: 38px;
  width: 650px;
  padding: 10px 10px;
  margin-left: 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#search_logo{
  float: left;
  margin-left:670px;
  margin-bottom:20px;
  width: 17px;
}
.src_box{
width: 600px;
float: right;
}
input[type=text] {
  width: 340px;
  padding: 12px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.menuItemsii{
  font-family: 'Archivo';font-size: 16px;
  padding: 20px 60px;
  color: white;
  font-size: 15px;
}
a{
  text-decoration: none;
}
#login{
    color: white;
    text-decoration-line: none;
    padding-left: 35px;
}
#more{
    color: white;
    text-decoration-line: none;
    padding-left: 45px;
}
#cart{
    color: white;
    text-decoration-line: none;
    padding-left: 4px;
}

i{
  padding-left: 2px;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.navbar {
  overflow:hidden;
  width: 100%;
  height:60px;
  background-color: #fff;
  box-shadow: 0px 4px 3px #888888;
  margin: 0px;
  font-family: 'Archivo';font-size: 6px bold;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;

}
.dropbtn{
  padding: 5px 8px;
}
.dropdown-content{
  margin-top: 0px;
}

.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  margin:20px 130px;
}

.gallery:hover {
  /* border: 1px solid #777; */
}

.gallery img {
  width: 100%;
  height: auto;
  position:
}
.desc {
  padding: 10px;
  text-align: center;
}


#topbar{


width: 100%;
height: 8%;
padding-bottom: 10px;
/* overflow: hidden; */
position: fixed;
}
  *{
       box-sizing: border-box;
     }
     #form{
       border-color: #ccc;
       border-width: 1px;
       background-color:white;
       margin-right:auto;
       margin-left:auto;
       width:800px;
     }
     .row:after{
       content:"";
       display:table;
       clear:both;


     }
     .column{
       color:white;
       float: left;
       width:50%;
       height:400px;
       padding-top:60px;
       padding-bottom:10px;
       padding-right:30px;
       padding-left:30px;
       border: 1px solid #ccc;
       border-radius: 4px;
     }
     #signup{
         color: white;
         text-decoration-line: none;
         padding-left: 35px;
     }


     .input-item{
       font-size: 18px;
       margin-bottom:36px;
       width:50%;
     }
     .submit{
       width: 100%;
       background-color: #f68b23;
       padding-top:12px;
       padding-bottom: 12px;
       padding-left:30px;
       padding-right:30px;
       font-size: 25px;
       color:white;
       border: none;
     }
     .newTo{
       text-align: center;
       font-size:16px;
       color:blue;
     }
