body{
  background-color: lightblue;
}
  *{
       box-sizing: border-box;
     }
     #form{
       border-color: #ccc;
       border-width: 1px;
       background-color:white;
       margin-right:auto;
       margin-left:auto;
       width:800px;
     }
     .row:after{
       content:"";
       display:table;
       clear:both;

     }
     .column{
       color:white;
       float: left;
       width:50%;

       height:500px;
       padding-top:60px;
       padding-bottom:10px;
       padding-right:30px;
       padding-left:30px;
     }


     .input-item{

       font-size: 18px;
       padding-bottom: 12px;
       margin-bottom:36px;
       border-top:0px;
       border-left:0;
       border-right:0;
       border-bottom: 1px solid #ccc;
       width:100%;
     }
     .submit{
       width: 100%;
       background-color: #f68b23;
       padding-top:12px;
       padding-bottom: 12px;
       padding-left:30px;
       padding-right:30px;
       font-size: 25px;
       color:white;
       border: none;
     }
     .otp{
       width: 100%;
       background-color:white;
       color:blue;
       text-align: center;
       font-size: 25px;
       padding-top: 12px;
       padding-right: 30px;
       padding-bottom:  12px;
       padding-left:  30px;
       border-shadow:2px 2px 2px;




     }
