<header>
<div id="top-nav">
<div class="main">
  <div class="section" id="myHeader">
    <div class="flipkart_name">
      <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >
      <!-- <div class="explore_name">
         <p id="plus_name"> Explore Plus</p>
      </div> -->
        <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
    </div>
    <!-- Search Bar -->
    <div class="search-container">
     <form class="src_box">
      <input type="text" placeholder="Search for products, brands and more" width="600px" name="search">
     </form>
     <!-- <i id="search_logo" class="fas fa-search"></i> -->
    </div>
    <!-- Menus -->
    <div class="menuItemsii">
      <a routerLink="/login" id="login">Login & Sign Up</a>
      <a id="more" href="url">More</a>
      <i class="fas fa-angle-down"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
      <a id="cart" href="url">Cart</a>
    </div>

  </div>
      <div class="navbar">
          <div class="dropdown">
            <div class="dropbtn">Electonics
              <i class="fa fa-caret-down"></i>
              <br>
            </div>
              <div class="dropdown-content">
                  <a href="#">Camera &nbsp;&nbsp;|</a>
                  <a href="#">Smartphones&nbsp;&nbsp; |</a>
                  <a href="#">Smartwatches</a>
              </div>
          </div>
    </div>
</div>
</div>
</header>



<div class="login-content">
<form id="form" method="GET">
     <div class="row">
       <div class="column" style="background-color:#047BD5;">
         <h2 style="margin-top:5px;">Login</h2>
         <div id="fontstyle">
           <p> Get access  to your Orders,<br>Wishlist and Recommendations</p>
         </div>


           <img src="/assets/gif/product.gif"alt="shopping-items" width="80%" height="250px"  filter="alpha(opacity=0.2)">



       </div>



       <div class="column">
         <input class="input-item" placeholder="Enter Email/mobile number"  type="Enter Email/mobile number" name="Enter Email/mobile number" required> <br>
         <input class="input-item" placeholder=" Enter Password" maxlength="8"  type="Enter password" name="Enter password" required>
         <span style="text-align:right;">Forgot?</span>
         <input class="submit" type="submit" value="Login"> <br><br>
         <h2 style="text-align: center;font-size:12px;color:black;">OR</h2>
         <button  class="otp" type="Request OTP" name="Request OTP">Request OTP</button>
         <br><br><br><br><br>
         <a routerLink="/signup" id="signup">

         <h2 style="text-align: center;font-size:12px;color:blue;"> New to Flipkart?Create an account</h2>

</a>
       </div>

     </div>
   </form>
  </div>
