<div class="signup-content">
	<form id="form" method="GET">
<div class="row">
<div class="column" style="background-color:#047BD5;">
<h2 style="margin-top:5px; font-size: 25px;">signup</h2>
	<div id="fontstyle">
  <p style="padding-top:15px;">We do not share your personal details with anyone.</p>
</div>

  	<img src="/assets/gif/product.gif"alt="shopping-items" width="80%" height="250px" opacity= "-1.2">


  </div>



<div class="column">
	<input class="input-item" placeholder="Firstname" type="Firstname" name="Firstname">
	<input class="input-item" placeholder="Lastname" type="Lastname" name="Lastname">
	<input  class="input-item" placeholder="mm-dd-yyyy" type="date" name="bday">
	<input class="input-item" placeholder="Mobile number" type="Mobile number" name="mobile number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="[0-9]{10}"   required>
	<input class="input-item" placeholder=" Email" type="Email" name=" Email" required>
<input class="input-item" placeholder="Password" maxlength="8"  type=" password" name="password" required>
<input class="input-item" placeholder="Confirm Password" maxlength="8"  type="Confirm password" name="Confirm password" required>
<input class="button" type="button" value="Signup"> <br><br>
  <a routerLink="/login" id="login">
<button  class="existing" type="Existing User?Log in" name="Existing User?Log in">Existing User?Log in</button>
</a>
  </div>

</div>
</form>
</div>
