
<header>
<div id="top-nav">
<div class="main">
  <div class="section" id="myHeader">
    <div class="flipkart_name">
      <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >
      <!-- <div class="explore_name">
         <p id="plus_name"> Explore Plus</p>
      </div> -->
        <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
    </div>
    <!-- Search Bar -->
    <div class="search-container">
     <form class="src_box">
      <input type="text" placeholder="Search for products, brands and more" width="600px" name="search">
     </form>
     <!-- <i id="search_logo" class="fas fa-search"></i> -->
    </div>
    <!-- Menus -->
    <div class="menuItemsii">
      <a routerLink="/login" id="login">Login & Sign Up</a>
      <a id="more" href="url">More</a>
      <i class="fas fa-angle-down"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
      <a id="cart" href="url">Cart</a>
    </div>

  </div>
      <div class="navbar">
          <div class="dropdown">
            <div class="dropbtn">Electonics
              <i class="fa fa-caret-down"></i>
              <br>
            </div>
              <div class="dropdown-content">
                  <a href="#">Camera &nbsp;&nbsp;|</a>
                  <a href="#">Smartphones&nbsp;&nbsp; |</a>
                  <a href="#">Smartwatches</a>
              </div>
          </div>
    </div>
</div>
</div>
</header>

<div class="Model1_div">

<div id="p3">
  <tr>
    <td rowspan="1" style="border: 1px solid #ccc;">
      <div id="pic2"><img src="\assets\images\smartwatch.jpeg" alt="Smartwatch"></div>

      <span><a routerLink="/orderdetails"><button class="buy-button1">Buy Now</button></a></span>

   </td>

<td rowspan="2" class="rwsp1" style="border: 1px solid #ccc;">
  <pre>
    <h1>Fossil 4th Gen Explorist HR <br> Smartwatch (Silver Strap Regular)</h1>
  </pre>
    <ul id="desc">
        <li>Heart Rate Monitor</li>
        <li> Google Assistant and Microphone</li>
        <li>Customizable Watch Faces</li>
        <li>Call, Message, Email, Facebook and Other App Notifications</li>
        <li>Call, Message, Email, Facebook and Other App Notifications</li>
        <li>Swim Proof</li>
        <li>Touchscreen</li>
        <li>Fitness & Outdoor</li>
    </ul>
</td>
<td rowspan="3" style="border: 1px solid #ccc;">
<h1 style ="margin-top:0">From &#8377; 17,596</h1>
</td>
</tr>
</div>
<hr>
<!-- Line afater one model -->

<div class="Model2_div">

<div id="p3">
  <tr>
    <td rowspan="1" style="border: 1px solid #ccc;">
      <div id="pic2"><img src="\assets\images\amzbip.jpeg" alt="Smartwatch"></div>

      <span><a routerLink="/orderdetails"><button class="buy-button1">Buy Now</button></a></span>

   </td>

<td rowspan="2" class="rwsp1" style="border: 1px solid #ccc;">
  <pre>
    <h1>Huami Amazfit Bip Onyx Black Smartwatch</h1>
  </pre>
    <ul id="desc">
      <li>Upto 45 Days of Battery for Single Charge</li>
      <li>Anti-Finger and Anti-Reflective Touchscreen, Always-on Color Display</li>
      <li>Call, Message, Email, Facebook and Other App Notifications</li>
      <li>Call, Message, Email, Facebook and Other App Notifications</li>
      <li>Multi Sports Tracking:Track Runs, Cycling and More with Map Routes & Detailed Body Stats.</li>
      <li>Mentor 24hrs: Track Heart Rate, Sleep ,Calories etc</li>
      <li>Touchscreen</li>
      <li>Fitness & Outdoor</li>
      <li>1 Year Warranty</li>
    </ul>
</td>
<td rowspan="3" style="border: 1px solid #ccc;">
<h1 style ="margin-top:0">From &#8377; 5,499</h1>
<p id="EMImodel2">EMI starting from &#8377; 259/month</p>
</td>
</tr>
</div>
