
<header>
<div id="top-nav">
<div class="main">
  <div class="section" id="myHeader">
    <div class="flipkart_name">
      <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >
      <!-- <div class="explore_name">
         <p id="plus_name"> Explore Plus</p>
      </div> -->
        <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
    </div>
    <!-- Search Bar -->
    <div class="search-container">
     <form class="src_box">
      <input type="text" placeholder="Search for products, brands and more" width="600px" name="search">
     </form>
     <!-- <i id="search_logo" class="fas fa-search"></i> -->
    </div>
    <!-- Menus -->
    <div class="menuItemsii">
      <a routerLink="/login" id="login">Login & Sign Up</a>
      <a id="more" href="url">More</a>
      <i class="fas fa-angle-down"></i>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i>
      <a id="cart" href="url">Cart</a>
    </div>

  </div>
      <div class="navbar">
          <div class="dropdown">
            <div class="dropbtn">Electonics
              <i class="fa fa-caret-down"></i>
              <br>
            </div>
              <div class="dropdown-content">
                  <a href="#">Camera &nbsp;&nbsp;|</a>
                  <a href="#">Smartphones&nbsp;&nbsp; |</a>
                  <a href="#">Smartwatches</a>
              </div>
          </div>
    </div>
</div>
</div>
</header>



  

    <div class="homeimg">
    <a target="_blank" href="\">
    <img src="\assets\images\home.png" alt="HomeImage" width="100%">
    </a>
    </div>
    <hr>

    <div class="gallery">
      <a target="_blank" href="\">
      <img id="animationTocamera" src="\assets\images\camera.png" alt="Camera" width="800" height="800">
      </a>
      <div class="desc">
      <b>&nbsp;&nbsp;&nbsp;&nbsp;Top 10 DSLR's</b>
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">From &#8377; 18999</a>

      </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="\">
      <img id="animationTosmartphone" src="\assets\images\smartphone.png" alt="Smartphone" width="600" height="400">
      </a>
      <div class="desc">
        <b>Top 10 Smartphones</b>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">From &#8377; 9999</a>
      </div>
    </div>

    <div class="gallery">
      <a target="_blank" href="\">
      <img id="animationTosmartwatch" src="\assets\images\smartwatch.jpeg" alt="Smartwatch" width="600" height="400">
      </a>
      <div class="desc">
        <b>Smartwatches</b>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">From &#8377; 5499</a>
      </div>
    </div>
