<header>
<div id="top-nav">
<div class="main">
  <div class="section" id="myHeader">
    <div class="flipkart_name">
      <img src="\assets\images\flipkart_name.png" width="246px" height="66px" alt="flipkart_name" >

        <img src="\assets\images\explore.png" width="246px" height="66px" alt="flipkart_name" >
    </div>
    <div class="orderPlacetxt">
     Order Confirmed
    </div>
  </div>

</div>
</div>
<div class="row">
      <div class="col1">
        <p id="col1p">
        <b style="font-size:20px;">Hi Creative Champs!</b><br><br><br>
        Your order has been successfully placed<br><br>
        We pleased to inform you that your <br> order will be deliver to in three to <br> four working days
        </p>
      </div>
      <div class="verticalLine">

      </div>
      <div class="col2">
        <div class="gifimg">
          <img src="/assets/images/comp.gif" alt="DONE">
        </div>
        <p id="col2p"><br>
        Thank you for shopping with flipkart<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; We hope you will like it<br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;Keep shopping and loving ;)
        </p>
      </div>
</div>
</header>
